@import '../themes/mixin';
@import '../themes/variable';

.carousels {
  position: relative;
  height: 530px;
  margin-top: 100px;

  .carousel-layout {
    // overflow-x: hidden;
    .carousel-circle {
      .carousel-circle-item {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.13);
        background-color: $text-c2-light;
        margin-right: 20px;
      }

      .active {
        background-color: $bg-c4-secondary;
      }
    }
    .carousel-layout-pd {
      padding: 0 100px;
      .carousel-item_card {
        height: 530px;
        overflow: hidden;
        img {
          width: 80%;
        }
        .carousel-content {
          right: 0;
          h5 {
            @include text($text-3xl, $text-light, $text-c1-dark);
          }
          p {
            @include text($text-xl, $text-light, $text-c1-dark);
          }

          .carousel-button {
            margin: 40px 0;

            .carousel-btn_buy {
              text-align: center;
              @include button(
                $text-xl,
                $text-light,
                $text-c2-light,
                14px 30px,
                $bg-c4-secondary,
                $bg-c5-secondary,
                black,
                all 0.3s
              );
            }
          }
        }
      }
    }
    .carousel-btn-pre {
      // margin-left: -150px;
    }
    .carousel-btn-next {
      // margin-right: -150px;
    }
    .carousel-btn_icon {
      padding: 0px 20px;
    }
  }
  .carousel-bg {
    width: 100%;
    position: absolute;
    bottom: -100px;
    z-index: -3;
  }
}

//responsive
@media (max-width: $bp-lg) {
  .carousels {
    .carousel-layout {
      .carousel-circle {
        margin-bottom: 0px;
        justify-content: center;
        .carousel-circle-item {
          margin-right: 10px;
        }

        .active {
        }
      }

      .carousel-layout-pd {
        padding: 0px;
        .carousel-item_card {
          height: 100%;
          img {
            margin-left: 80px;
          }
          .carousel-content {
            display: flex;
            justify-content: center;
            text-align: center;
            h5 {
              @include text($text-3xl, $text-light, $text-c1-dark);
            }
            p {
              @include text($text-base, $text-light, $text-c1-dark);
            }

            .carousel-button {
              // margin: 20px 0 40px 0;
              .carousel-btn_buy {
              }
            }
          }
        }
      }

      .carousel-btn_icon {
      }
    }
    .carousel-bg {
      bottom: 0;
    }
  }
}

@media (max-width: $bp-md) {
  .carousels {
    .carousel-layout {
      .carousel-circle {
        .carousel-circle-item {
        }

        .active {
        }
      }

      .carousel-layout-pd {
        .carousel-item_card {
          img {
            margin-left: 130px;
          }
          .carousel-content {
            h5 {
            }
            p {
            }

            .carousel-button {
              .carousel-btn_buy {
              }
            }
          }
        }
      }

      .carousel-btn-pre {
      }
      .carousel-btn-next {
      }
      .carousel-btn_icon {
      }
    }
    .carousel-bg {
      margin-bottom: -20px;
    }
  }
}

@media (max-width: $bp-sm) {
  .carousels {
    .carousel-layout {
      .carousel-circle {
        .carousel-circle-item {
        }

        .active {
        }
      }

      .carousel-layout-pd {
        padding: 0px;
        .carousel-item_card {
          height: 400px;
          img {
            margin-left: 80px;
          }
          .carousel-content {
            h5 {
              @include text($text-2xl, $text-light, $text-c1-dark);
            }
            p {
            }

            .carousel-button {
              // margin: 20px 0 40px 0;
              .carousel-btn_buy {
              }
            }
          }
        }
      }

      .carousel-btn-pre {
        display: none;
      }
      .carousel-btn-next {
        display: none;
      }
      .carousel-btn_icon {
      }
    }
    .carousel-bg {
    }
  }
}
