@import '../themes/mixin';
@import '../themes/variable';

.productFeature-title {
  // text-align: center;
  margin-bottom: 70px;
  @include text($text-4xl, $text-regular, $text-c2-light);
  background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
  padding: 5px 0 5px 5px;
}

.productFeature {
  margin-top: 150px;
}
.productFeature-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-c2-primary;
  width: 100%;
  min-height: 450px;
  transition: all 300ms ease-in-out;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .productFeature-item-top {
    padding: 20px;
    background-color: $bg-c2-primary;

    .productFeature-item-like {
      @include text($text-3xl, $text-bold, $text-c2-red);
    }

    .productFeature-item-img {
      display: flex;
      justify-content: center;

      img {
        padding: 0 50px;
        width: 100%;
      }
    }
    h4 {
      @include text($text-2xl, $text-thin, $text-c1-dark);
    }
    p {
      @include text($text-xl, $text-thin, $text-c4-dark);
    }
  }

  .productFeature-item-bottom {
    display: flex;
    justify-content: center;

    .item-bottom-text {
      border: none;
      padding: 20px 40px;
      display: block;
      @include button(
        $text-2xl,
        $text-thin,
        $text-c1-dark,
        14px 0px,
        $bg-c1-secondary,
        $bg-c4-secondary,
        $text-c2-light,
        all 0.3s
      );
      width: 100%;
    }

    .productFeature-btn {
      text-align: center;
    }
    .productFeature-price {
      background-color: $bg-c3-primary;
      font-weight: $text-semibold;
      &:hover {
        background-color: $bg-c3-primary;
        color: $text-c1-dark;
      }
    }
  }
  .bottom-bg-yellow {
    // background-color: $bg-c1-secondary;
    &:hover {
      // background-color: $bg-c4-secondary;
    }
  }
  .bottom-bg-grey {
    background-color: $bg-c3-primary;
  }
}
