@import '../themes/variable';
@import '../themes/mixin';

.product-detail {
  margin-top: 200px;
  .product-detail-prod {
    background-color: $bg-c2-primary;
    padding: 50px;
    .product-detail-img {
      width: 100%;
    }
  }

  .product-detail-content {
    .product-detail-title {
      @include text($text-3xl, $text-light, $text-c1-dark);
      margin-bottom: 20px;
    }
    .product-detail-des {
      @include text($text-base, $text-regular, $text-c2-dark);
    }
    .product-detail-available {
      @include text($text-2xl, $text-medium, $text-c1-green);
      margin: 20px 0;
    }
    .product-detail-sizegroup {
      display: flex;
    }
    .product-detail-size {
      background-color: $bg-c5-primary;
      width: 50px;
      height: 50px;
      @include text($text-2xl, $text-semibold, $text-c3-dark);
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .product-detail-price {
      @include text($text-3xl, $text-semibold, $text-c2-red);
      margin: 15px 0;
    }
    .product-detail-count {
      display: flex;
      .product-detail-count-btn {
        background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
        @include text($text-3xl, $text-regular, $text-c3-light);
        margin: 0;
        border: none;
      }
      .product-detail-amount {
        @include text($text-3xl, $text-regular, $text-c1-dark);
        margin: 0 20px;
      }
    }
    .product-detail-add {
      @include text($text-2xl, $text-medium, $text-c4-light);
      background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
      border: none;
      padding: 10px 20px;
      margin-top: 10px;
    }
  }
}
