@import '../themes/variable';
@import '../themes/mixin';

.register {
  margin-top: 180px;
}
.register-form {
  .register-title {
    text-align: center;
    padding-bottom: 40px;
    @include text($text-4xl, $text-regular, $text-c1-dark);
  }
  .register-item {
    margin-top: 30px;
    position: relative;

    &_label {
      @include text(18px, $text-medium, $text-c3-dark);
      padding-left: 5px;
      margin-bottom: 10px;
    }

    &_input {
      width: 100%;
      // height: 50px;
      background-color: rgba(33, 33, 33, 0.08);
      border-radius: 10px;
      border: none;
      padding: 14px;
      font-size: $text-base;
      &:focus-visible {
        outline: none;
      }
      &::placeholder {
        @include text($text-base, $text-regular, #848080);
        //   padding-left: 12px;
      }
    }
    .mess_err {
      position: absolute;
      @include text(14px, $text-regular, $text-c2-red);
      bottom: -26px;
      left: 5px;
    }

    #password {
      position: relative;
    }
    #password-icon {
      position: absolute;
      top: 64%;
      right: 10px;
      // z-index: 10;
      cursor: pointer;
    }

    .right {
      padding-right: 12px;
    }
    .pd-bt {
      bottom: 8px;
    }
  }
  .pd-right {
    padding-right: 60px;
  }
  .pd-left {
    padding-left: 60px;
  }

  .register-gender {
    display: flex;
    margin-top: 74px;
    justify-content: space-between;
    align-items: center;
    @include text(18px, $text-medium, $text-c3-dark);
    .register-check {
      display: flex;
      align-items: center;
      input {
        // background-color: $bg-c4-primary;
        border: none;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        &:focus {
          outline: none;
          box-shadow: none;
        }
        // &:checked {
        //   background-color: $bg-c4-primary;
        // }
        &:checked[type='radio'] {
          background-size: 40px;
          // color: $bg-c3-secondary;
        }
      }
    }
  }
}

.btnSubmit {
  @include text($text-base, $text-medium, $text-c3-light);
  border-radius: 50px;
  background-color: #6200ee;
  padding: 12px 60px;
  margin-top: 60px;
  border: none;
  transition: all 0.2s;
  &:hover {
    // background-color: #8c15b5;
    background-color: #851ce9;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(#ae18e2, 0.5);
    background-color: #8c15b5;
  }
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #f9f2fb;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #6200ee;
  position: absolute;
  top: 0px;
  left: 10px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

//responsive
@media (max-width: $bp-lg) {
  .register {
    #registerForm {
      .register-title {
        @include text($text-4xl, $text-regular, $text-c1-dark);
      }
      .register-item {
        &_input {
          &:focus-visible {
          }
          &::placeholder {
            @include text($text-2xl, $text-regular, $text-c1-dark);
          }
        }
        .register-forced {
          padding-right: 12px;
        }
        .right {
        }
        .pd-bt {
          bottom: 0px;
        }
      }
      .pd-right {
        padding-right: 12px;
      }
      .pd-left {
        padding-left: 12px;
      }
      .register-gender {
        @include text($text-2xl, $text-regular, $text-c1-dark);

        .register-check {
          input {
            &:focus {
            }
            &:checked {
            }
            &:checked[type='radio'] {
            }
          }
        }
      }
      .register-btnSubmit {
        text-align: center;
        .btnSubmit {
          &:hover {
          }
          &:focus {
          }
        }
      }
    }
  }
}

@media (max-width: $bp-md) {
  .register {
    margin-top: 170px;
    #registerForm {
      .register-title {
        @include text($text-4xl, $text-regular, $text-c1-dark);
        padding-bottom: 40px;
      }
      .register-item {
        &_input {
          &:focus-visible {
          }
          &::placeholder {
            @include text($text-2xl, $text-regular, $text-c1-dark);
          }
        }
        .register-forced {
          padding-right: 12px;
        }
        .right {
        }
        .pd-bt {
          bottom: 0px;
        }
      }
      .pd-right {
        padding-right: 12px;
      }
      .pd-left {
        padding-left: 12px;
      }
      .register-gender {
        @include text($text-2xl, $text-regular, $text-c1-dark);

        .register-check {
          input {
            width: 55px;
            height: 40px;
            &:focus {
            }
            &:checked {
            }
            &:checked[type='radio'] {
              background-size: 30px;
            }
          }
        }
      }
      .register-btnSubmit {
        .btnSubmit {
          &:hover {
          }
          &:focus {
          }
        }
      }
    }
  }
}

@media (max-width: $bp-sm) {
  .register {
    #registerForm {
      .register-title {
        @include text($text-3xl, $text-regular, $text-c1-dark);
      }
      .register-item {
        &_input {
          &:focus-visible {
          }
          &::placeholder {
            @include text($text-xl, $text-regular, $text-c1-dark);
          }
        }
        .register-forced {
          // padding-right: 8px;
        }
        .right {
        }
        .pd-bt {
          // bottom: 0px;
        }
      }
      .pd-right {
        // padding-right: 8px;
      }
      .pd-left {
        // padding-left: 8px;
      }
      .register-gender {
        @include text($text-xl, $text-regular, $text-c1-dark);

        .register-check {
          input {
            width: 35px;
            height: 30px;
            &:focus {
            }
            &:checked {
            }
            &:checked[type='radio'] {
              background-size: 20px;
            }
          }
        }
      }
      .register-btnSubmit {
        .btnSubmit {
          margin-top: 60px;
          padding: 8px 40px;
          @include text($text-2xl, $text-regular, $text-c3-light);

          &:hover {
          }
          &:focus {
          }
        }
      }
    }
  }
}
